{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% block content %}
	<div class="containor">
		<div class="container">
			<div class="row centered-form">
				<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<form method="post">
								{% csrf_token %}
								<h2>Log In</h2>
								{{ form|crispy }}
								<button type="submit">Log In</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
